<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<form action="/registration" method="get">
    <input type="submit" value="sigh up">
</form>

<form action="/login" method="get">
    <input type="submit" value="sigh in">
</form>

<form action="/users" method="get">
    <input type="submit" value="show all users">
</form>

</body>
</html>
