.header {
    padding: 8px;
    text-align: center;
    background-color: #29ab16;
    color: white;
    font-size: 28px;
    font-weight: 600;
}

.footer {
    padding: 8px;
    text-align: center;
    background-color: black;
    color: white;
}

.footer a {
    text-decoration: none;
    color: white;
}
