doctype html
html
    head
        style
            include style.css

    body
        div.header
            |In node we trust

        block content

        div.footer
            |Victor Kmin's team
            br
            a(href=FRONTEND_URL) Check it out!
